<p> <%= link_to 'uofm-driven', uofm_driven_path %> </p>

<h1>DEPARTMENT OF COMPUTER SCIENCE</h1>

<h2> Career Oppurtunities </h2>

<p> Computer science always ranked as major <p>

<p> <%= image_tag "university-of-memphis-logo.png", height: 150 %> </p>
<p>
    <ul>
        <li>BS </li>
        <li>Acc BS/MS</li>
        <li>MS </li>
        <li>PH.D </li> 
    </ul>    
</p>
